<!DOCTYPE html>
<!--[if lt IE 7]>      <html class='no-js lt-ie9 lt-ie8 lt-ie7'> <![endif]-->
<!--[if IE 7]>         <html class='no-js lt-ie9 lt-ie8'> <![endif]-->
<!--[if IE 8]>         <html class='no-js lt-ie9'> <![endif]-->
<!--[if gt IE 8]><!--> <html class='no-js'> <!--<![endif]-->
	<head>
		<meta charset='utf-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<title>RL Design Challenge 2016 - Group Assignment</title>
		<meta name='description' content=''>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<link rel='stylesheet' href='css/normalize.css'>
		<link href='//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' href='css/global.css'>
		<link rel='stylesheet' href='css/display.css'>
	</head>
	<body>
		<!-- Add your site or application content here -->

		<div class="clearfix">
			<div class="col _1of2">
				<div class="tile">
					<h1 style="color:#ed5e1b;">CHALLENGE 1:</h1> <p><em>How can doctors measure people’s pain if there are communication barriers?</em></p>
				</div>
				<div id="oswald" class="tile group">
					<h1>Oswald:</h1>
				</div>
				<div id="bodoni" class="tile group">
					<h1>Bodoni:</h1>
				</div>
				<div id="avenir" class="tile group">
					<h1>Avenir:</h1>
				</div>
				<div id="din" class="tile group">
					<h1>Din:</h1>
				</div>
				<div id="futura" class="tile group">
					<h1>Futura:</h1>
				</div>
				<div id="gotham" class="tile group">
					<h1>Gotham:</h1>
				</div>
				<div id="frutiger" class="tile group">
					<h1>Frutiger:</h1>
				</div>
				<div id="garamond" class="tile group">
					<h1>Garamond:</h1>
				</div>
			</div>
			<div class="col _1of2">
				<div class="tile">
					<h1 style="color:#1aacd7;">CHALLENGE 2:</h1> <p><em>How can the walk-in waiting room experience be improved?</em></p>
				</div>
				<div id="univers" class="tile group">
					<h1>Univers:</h1>
				</div>
				<div id="rockwell" class="tile group">
					<h1>Rockwell:</h1>
				</div>
				<div id="minion" class="tile group">
					<h1>Minion:</h1>
				</div>
				<div id="caslon" class="tile group">
					<h1>Caslon:</h1>
				</div>
				<div id="bembo" class="tile group">
					<h1>Bembo:</h1>
				</div>
				<div id="raleway" class="tile group">
					<h1>Raleway:</h1>
				</div>
				<div id="quicksand" class="tile group">
					<h1>Quicksand:</h1>
				</div>
				<div id="didot" class="tile group">
					<h1>Didot:</h1>
				</div>
			</div>
		</div>
		
		<script src='js/jquery-1.10.2.min.js'></script>
		<script src='https://cdn.socket.io/socket.io-1.4.5.js'></script>
		<script src='js/plugins.js'></script>
		<script src="js/display.js"></script>
	</body>
</html>
